#entire{background-color: rgb(50, 49, 49);}

.body{
    text-align: center;
    display: block;
    padding-top: 100px;
    background-color: ;
    width:400px;
    height: 400px;
    background-image: url(Recovery.jpg);
}

.body{margin-top: 150px; 
    margin-left: 600px; 
    margin-right: 800px;} /*this is to position the entire dialog box*/

#h1{text-align: center; margin-left: 50px;}

#button{ 
     background-color: rgba(53, 71, 53, 0.4);
     height:50px; 
     width:200px;
     font-size: 20px;
     margin-left: 50px; /*this is 50px from the maargins of the box*/
    }

#link{text-decoration: none;}

#paragraph{margin-left: 45px;}

#input{
    height: 40px;
    width: 300px;
}